.conteiner{
    padding-top: 5%;

    height: 300px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    color: #fff ;
    background-image: linear-gradient(-177deg, #707070 80%, #ffffff 0%);
	
}
.botoes{
    width: 100%;
    display: flex;
    justify-content: center;

}

#h{
    padding: 20px;
}
